{
    "test": {
        "PORT": 3000,
        "MONGODB_URI": "mongodb://localhost:27017/BiobankAPITest"
    },
    "development": {
        "PORT": 3000,
        "MONGODB_URI": "mongodb://localhost:27017/BiobankAPI"
    }
}